using ApplicationCore.Dtos;
using ApplicationCore.Entity;
using ApplicationCore.IServices;
using Infrastructure;
using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;

namespace Service
{
    public class <#=Name #>Service : BaseService<<#=Name #>>
    {
        public <#=Name #>Service(ServiceContext serviceContext) : base(serviceContext)
        {
        }
    }
}
