<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="c:\temp\internal-nlog.txt">

  <!-- 定义日志要写入的目标对象，可写入file,database,email等-->
  <targets async="true">
    <!-- 记录bug错误的文件，比较严重的错误，如未知的异常错误 -->
    <target xsi:type="File" name="fatal" fileName="${basedir}\fatal\${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId.Id}|${uppercase:${level}}|${logger}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}|${callsite}|${newline}msg:${message} ${newline} exception:${exception}" />
    <!-- 记录异常信息，一般的错误，如程序抛出的已知异常 -->
    <target xsi:type="File" name="error" fileName="${basedir}\error\${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId.Id}|${uppercase:${level}}|${logger}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}|${callsite}|${newline}msg:${message} ${newline} exception:${exception}" />
    <!-- 记录普通日志，-->
    <target xsi:type="File" name="info" fileName="${basedir}\info\${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId.Id}|${uppercase:${level}}|${logger}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}|${callsite}|${newline}msg:${message} ${newline} exception:${exception}" />
    <!-- 记录特殊日志，按记录类型分类-->
    <target xsi:type="File" name="sepcial" fileName="${basedir}\sepcial\${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId.Id}|${uppercase:${level}}|${logger}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}|${callsite}|${newline}msg:${message} ${newline} exception:${exception}" />
  </targets>

  <!-- 规则，定义loggner.name到target.name的对应关系 -->
  <rules>
    <!-- 写入到fatal目标的日志 -->
    <logger name="*" level="Fatal" writeTo="fatal" enabled="true" />
    <!-- 写入到error目标的日志 -->
    <logger name="*" level="Error" writeTo="error" enabled="true" />
    <!-- 写入到info目标的日志 -->
    <logger name="*" levels="Trace,Debug,Info,Warn" writeTo="info" enabled="true" />
    <!-- 写入到特殊日志目标，示例：LogManager.GetLogger("special")对象写入的所有日志用本规则 -->
    <logger name="special" minlevel="Trace" writeTo="sepcial" />
  </rules>
</nlog>
